*{
    text-decoration: none;
    color: white;
}
body{
    font-family: 'Ibarra Real Nova', serif;
  
}
.navbar{
    width: 100%;
    z-index: 5;
}
.nav-link{
    color: #f6e42e !important; 
    font-size: 25px;

}
.nav-link:hover{
    
    color:  #fe4759 !important;

    }
    .navbarbtn {
        background-color: #fe4759 !important;
        color: #f6e42e !important;
        font-size: 18px !important;
    }
    .navbarbtn:hover{
        background-color: #f6e42e !important;
        color:  #fe4759 !important;
    }
    .head{
        color: #fe4759 !important;
    }
    .para{
        color: #f6e42e !important;
    }
    .bg-img{
        
        background-image: url(/assets/img/Attachment.02312234.jpg) !important ;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: 50% !important;
        width: 100% !important;
        height: 70vh !important;
    }
    @media screen and (max-width:992px) {
        .bg-img{
          height: 50vh !important;
        }
    }
    .menuh2{
        
        font-size: 30px;
        padding-top: 10px;
    }

.section{
    background-color: #261a40;
}

/* second section  */
.roadmapimg{
    background-color: #fe4759;
    color: #fe4759;
    z-index: 10000;
}
.card{
    background-color: #261a40;
    border: 2px solid  #fe4759;
    border-radius: 20px;
}


.align-top{
   height: 40rems;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 17px solid #fe4759;
}
.badge{
   
    font-size:28px;
    background-color:#fe4759;
}
/* 3rd section  */
.three-section {
    
    background-image: url(/assets/img/mint_bg_ALT.jpg) !important ;
    background-repeat: no-repeat !important;
    background-size: cover !important;
   
}
.circleimage {
    
    width: 60% !important;
    height: 50% !important;
}

.statush2 {
   
    font-weight: 500;
    font-size: 50px;
    line-height: 43px;
    text-align: center;
    
}
.statusp {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: #fff;
}
/* token section  */
.token-section{
    background-color: #261a40;
}
.container3{
background-color: rgb(50, 39, 74);
}
.card{
    border: none !important;
    background-color: rgb(50, 39, 74);
}

.card-img-top{

    width:30%;
}
.card-img-center{

    width:90% !important;
}
.statush4{
   
    line-height: 23px !important;
    text-align: center !important;
    color: #fe4759 !important ;
}
.roadmaph4{
   
    font-weight: 800;
    
    line-height: 26px;
}
.card-text{
    font-size: 18px;
    text-justify: inter-word;
    -webkit-hyphens: auto!important;
    -ms-hyphens: auto!important;
    hyphens: auto!important;
    word-spacing: normal;
    hyphens: auto;
    text-align:left;
    color: #f6e42e;
}
/* FaQ section  */
.faq1{
    
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    margin: 40px 0;
    color: #f6e42e;
}
.accordion-flush .accordion-item .accordion-button {

    background-color: #fe4759 !important;
}
.accordion-button::after{
    background-image:url(/assets/img/dropdown.png);
filter: invert();
}
.accordion-button:not(.collapsed)::after{
    transform: rotateX(150deg);
    background-image:url(/assets/img/dropdown.png);
}
.accordion-button{
   
    font-size: 20px;
    color: #fff;
    padding: 20px;
}
.accordion-body{
    font-family: PixelOperatorMonoHBRegular;
    font-size: 20px;
    background-color: #fe4759 !important;
}

.accordion-button:focus {
    border-color: none;
}
.accordion-button:not(.collapsed){
    color: #f6e42e;
}

/* footer two  */
.footertwo{
    background-image: url(/assets/img/Attachment111.800bc9b1.jpeg) !important ;
    background-repeat: no-repeat !important;
    background-size: cover !important; 
}
.footertwoh3, .footertwoh4 {
    
    line-height: 35px;
    text-align: center;
}
.buttonbtn {
    background-color: #fe4759;
    color: #f6e42e;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 25px;
   
}
.footertwoimage {
    width:100%;
    padding-top: 90px;
    
}
/* footer  */
.footer {
    background-color: #261a40;
}

.list ul{
    list-style: none;
}

.list ul a{
    text-decoration: none;
    color: white;
}
.list {
   
    font-weight: 650;
    font-size: 14px;
    

}

@media screen and (max-width:992px) {
    
    
    .list ul{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        line-height: 27px;
    }
    
     ul {
        padding-left: 1rem;
    }
}
/* claim Main */
.claim{
    background-image: url(/assets/img/mint_bg_ALT.jpg) !important ;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    
}
.claimh2{
        
        text-align: center;
        font-weight: 500;
        font-size: 50px;
       margin-top: 80px;
      margin-bottom: 60px;
}
.claimp {
   
    text-align: center;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    color: #f6e42e;
}
#linkclaim {
    text-decoration: none;
    color: #fff;
}
.claimbtn{

    font-size: 22px;
    background-color: #fe4759;
    color: #fff;
    padding: 18px 25px;
}
.claimbtn:hover{
    background-color: #f6e42e;
    color: #fe4759;
}
.input-group{
background-color:#fe4759;

}

.claiminput{
    background-color: #fe4759 !important;
    border: none !important;
    padding: 18px 25px !important;
    font-size: 22px !important;
    
}
.claiminput::placeholder{
    color:white;
}
@media screen and (max-width: 480px){
.claimbutton {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
}
.claimbtn{
    margin-top: 20px;
}
.claimh2 {
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.claimp {
    font-weight: 400;
    font-size: 15px;
    line-height: 33px;
    color: #f6e42e;
    
    margin-bottom: 0px;
}

}

.form-control{
    background-color: #fe4759a9;
}
.input-group .btn{
    padding: 20px;
   
    box-shadow: -12px 0px 22px 0px rgb(0 0 0 / 75%)
}
/* mint  */
.headerboxes {
    width: 430px;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 20px;
    background: rgb(38, 26, 64);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(38, 26, 64);
    border-image: initial;
    border-radius: 23px;
}
.headerh4, .headerh444 {
    font-family: Gilroy-Medium;
    font-style: normal;
    font-size: 20px;
   
    text-align: end;
    color: #fff;
}
.headerh4 {
    line-height: 40px;
    font-weight: 350;
    margin-top: 10px;
}
.astext {
    background: none;
    border: none;
   
    font-weight: 400;
    font-size: 34px;
}
