*{
    text-decoration: none;
    color: white;
    /* background-color: #261a40; */
}
.nav-link{
    color: #f6e42e !important;
    font-family: Gilroy-Medium;
    font-size: 25px;

}
.nav-link:hover{
    /* color: rgb(247, 106, 11)!important; */
    color:  #fe4759 !important;

    }
    .navbarbtn {
        background-color: #fe4759;
        color: #f6e42e;
        font-family: Gilroy-Medium;
        font-size: 16px;
    }
    .navbarbtn:hover{
        background-color: #f6e42e;
        color:  #fe4759;
    }
    .head{
        color: #fe4759 !important;
    }
    .para{
        color: #f6e42e !important;
    }
    .bg-img{
        background-image: url(/assets/img/Attachment.02312234.jpg) !important ;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: 50% !important;
        width: 100% !important;
        height: 40vh !important;
    }
    
    .menuh2{
        font-family: Gilroy-Medium;
        font-size: 30px;
        padding-top: 10px;
    }

.section{
    background-color: #261a40;
}

/* second section  */
.roadmapimg{
    background-color: #fe4759;
    color: #fe4759;
    z-index: 10000;
}
.card{
    background-color: #261a40;
    border: 2px solid  #fe4759;
    border-radius: 20px;
}


.align-top{
   height: 40rems;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 17px solid #fe4759;
}
.badge{
    font-family: Gilroy-Medium;
    font-style: normal;
    font-size:28px;
    background-color:#fe4759;
}
/* 3rd section  */
.three-section {
    
    background-image: url(/assets/img/mint_bg_ALT.jpg) !important ;
    background-repeat: no-repeat !important;
    background-size: cover !important;
   
}
.circleimage {
    
    width: 60% !important;
    height: 50% !important;
}

.statush2 {
    font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 43px;
    text-align: center;
    
}
.statusp {
    font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: #fff;
}
/* token section  */
.token-section{
    background-color: #261a40;
}
.container3{
background-color: rgb(50, 39, 74);
}
.card{
    border: none !important;
    background-color: rgb(50, 39, 74);
}

.card-img-top{

    width:30%;
}
.card-img-center{

    width:90% !important;
}
.statush4{
    font-family:Gilroy-Medium;
    font-size: 24px !important;
    line-height: 23px !important;
    text-align: center !important;
    color: #fe4759 !important ;
}
.roadmaph4{
    font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: 800;
    /* font-size: 15px; */
    line-height: 26px;
}
.card-text{
    font-size: 18px;
    text-justify: inter-word;
    -webkit-hyphens: auto!important;
    -ms-hyphens: auto!important;
    hyphens: auto!important;
    word-spacing: normal;
    hyphens: auto;
    text-align:left;
    color: #f6e42e;
}
/* FaQ section  */
.faq1{
    font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    margin: 40px 0;
    color: #f6e42e;
}
.accordion-flush .accordion-item .accordion-button {

    background-color: #fe4759 !important;
}
.accordion-button{
    font-family: Gilroy-Medium;
    font-size: 20px;
    color: #fff;
    padding: 20px;
}
.accordion-body{
    font-family: PixelOperatorMonoHBRegular;
    font-size: 20px;
    background-color: #fe4759 !important;
}

.accordion-button:focus {
    border-color: none;
}
.accordion-button:not(.collapsed){
    color: #f6e42e;
}

/* footer two  */
.footertwo{
    background-image: url(/assets/img/Attachment111.800bc9b1.jpeg) !important ;
    background-repeat: no-repeat !important;
    background-size: cover !important; 
}
.footertwoh3, .footertwoh4 {
    font-family: Gilroy-Medium;
    font-style: normal;
    line-height: 35px;
    text-align: center;
}
.buttonbtn {
    background-color: #fe4759;
    color: #f6e42e;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 25px;
    font-family: Gilroy-Medium;
}
.footertwoimage {
    width:100%;
    padding-top: 90px;
    
}
/* footer  */
.footer {
    background-color: #261a40;
}

.list ul{
    list-style: none;
}

.list ul a{
    text-decoration: none;
    color: white;
}
.list {
    font-family: gilroy-medium;
    font-style: normal;
    font-weight: 650;
    font-size: 14px;
    

}

@media screen and (max-width:992px) {
    
    
    .list ul{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        line-height: 27px;
    }
    
    .list ul {
        padding-left: 0rem;
    }
}
/* claim Main */
.claim{
    background-image: url(/assets/img/Attachment111.800bc9b1.jpeg) !important ;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100%;
    width:100%;
}